@model IEnumerable<RecLeagueBlog.Models.BlogPost>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Blog Posts</h1>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="input-lg form-control" id="searchTerm" placeholder="Search Term">
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
    </div>

    <div class="col-md-12">
        <div class="panel panel-default" hidden>
        </div>
        @foreach (var post in Model)
        {
            if (post.Status.StatusId == 1)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Posted on @post.DateCreated.ToString("MM/dd/yyyy") by @post.UserName</h3>
                    </div>
                    <div class="panel-body">
                        <h2>@post.Title</h2>
                        @if (@post.Content.Length < 140)
                        {
                            <p>@post.Content</p>
                        }
                        else
                        {
                            <p>@post.Content.Substring(0, 140)</p>
                            <p hidden>@post.Content.Substring(140) </p>
                        }
                        <a class="btn btn-default" href="@Url.Action("Post", "Home", new { id = post.BlogPostId }, null)">Read More &rarr;</a>
                    </div>
                </div>
            }
        }
    </div>
</div>



@section scripts {
    <script>
        $("#searchTerm").keyup(function () {
            var value = this.value.toLowerCase().trim();

            $("div.panel.panel-default").each(function (index) {
                if (!index) return;
                $(this).find("h2, p, h3").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('div.panel.panel-default').toggle(!not_found);
                    return not_found;
                });
            });
        })
    </script>
}
