@model IEnumerable<RecLeagueBlog.Models.BlogPost>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_BlankPage.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Blog List</h1>
        @foreach (var post in Model)
        {
                    <!-- Blog Post -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Posted on @post.DateCreated.ToString("MM/dd/yyyy") by @post.UserName</h3>
                </div>
                <div class="panel-body">
                    <h2>@post.Title</h2>
                    <p>@post.Content</p>
                    <a class="btn btn-default" href="@Url.Action("Post", "Home", new { id = post.BlogPostId }, null)">Read More &rarr;</a>
                </div>
            </div>
        }
    </div>
</div>
