@model IEnumerable<RecLeagueBlog.Models.BlogPost>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rec League Sports</h1>
    <p class="lead">Your go-to blog for all things rec.</p>
</div>
<h1>Most Recent Posts</h1>
<hr />
<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-md-4">
            <div class="blog-card panel panel-default ">
                <div class="panel-heading">
                    Posted on @post.DateCreated.ToString("MM/dd/yyyy") by @post.UserName
                </div>
                <div class="panel-body">
                    <h2>@post.Title</h2>
                    @if (@post.Content.Length < 140)
                    {
                        <p>@Html.Raw(post.Content)</p>
                    }
                    else
                    {
                        <p>@Html.Raw(post.Content.Substring(0, 140))</p>
                    }
                    <a class="btn btn-default" href="@Url.Action("Post", "Home", new { id = post.BlogPostId }, null)">Read More &rarr;</a>
                </div>
            </div>
        </div>
    }
</div>