@model RecLeagueBlog.Models.UserRoleViewModel
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Edit User</h1>
        <hr>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(u => u.AppUser.Id)
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Personal Details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>First Name:</label>
                            @Html.TextBoxFor(m => m.AppUser.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AppUser.FirstName)
                        </div>
                        <div class="form-group">
                            <label>Last Name:</label>
                            @Html.TextBoxFor(m => m.AppUser.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AppUser.LastName)
                        </div>
                        <div class="form-group">
                            <label>Role:</label>
                            @Html.DropDownListFor(m => m.Role.Id, Model.RoleItems, "-Choose One-", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            @Html.TextBoxFor(m => m.AppUser.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AppUser.Email)
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>