@model IEnumerable<RecLeagueBlog.Models.Identity.AppUser>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Users</h1>
        <hr>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <form class="navbar-form navbar-left" onsubmit="return false;">
                    <div class="form-group">
                        <a href="@Url.Action("AddUser", "Dashboard")" class="btn btn-primary navbar-btn">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Create User
                        </a>
                    </div>
                </form>
               <form class="navbar-form navbar-right" onsubmit="return false;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Term" id="searchTerm">
                    </div>                  
                </form>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.RoleName</td>
                        <td>
                            @Html.ActionLink("Edit", "EditUser", "Dashboard", new { id = user.Id }, null) |
                            @Html.ActionLink("Delete", "DeleteUser", "Dashboard", new { id = user.Id }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts {
    <script>
        $("#searchTerm").keyup(function () {
            var value = this.value.toLowerCase().trim();

            $("table tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
</script>
    }