@model IEnumerable<RecLeagueBlog.Models.Identity.AppUser>
@{
	ViewBag.Title = "Users";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h2>Users</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Address</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Email</td>
                                <td>@user.Roles.FirstOrDefault().RoleId</td>
                                <td>
                                    @Html.ActionLink("Edit", "EditUser", "Dashboard", new { id = user.Id }, null) | 
                                    @Html.ActionLink("Delete", "EditUser", "Dashboard", new { id = user.Id }, null)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>